body{
	margin: 0;
	color:#fff;
}
	.header{
    	padding-top: 25px;
    	margin-bottom: 58px;
}
	.header__nav{
		max-width: 1335px;
		width: 94%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	input{
		display: none;
	}
	.nav__menu-container{
		display: inline-flex;
		width: 69%;
		justify-content: flex-end;
	}
	.nav__menu{
		justify-content: space-between;
		display: inline-flex;
		width: 100%;
	}
	.nav__menu_middle{
		min-width: 499px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0;
		padding: 0;
	}
	.nav__menu_right{
		min-width: 150px;
		display: flex;
		margin: 0;
		align-items: center;
		justify-content: space-between;
		padding: 0 28px 0 0;
	}
  	.header__logo{
		width: 200px;
		height: 51px;
		background: url(img/tesla-wordmark-red.svg) no-repeat;
}
  	.menu__item{
  		position: relative;
		text-decoration: none;
		font: 600 15px/18px Montserrat, arial, helvetica, sans-serif;
		color: #000;
		transition: color .5s;
}
	.menu__item::after{
		position: absolute;
		content: "";
		display: block;
		top: 26px;
		width: 0;
		height: 2px;
		background: #e51937;
		transition: width .5s;
	}
	.menu__item:hover,
	.menu__item:hover::after{
		color: #e51937;
		width: 100%;
		cursor: pointer;
	}
	.menu__item_red{	
		color: #e51937;
		position: relative;
	}
	.menu__item_red::after{	
		position: absolute;
		content: "";
		display: block;
		top: 26px;
		width: 100%;
		height: 2px;
		background: #e51937;
	}
	.burger{
		width: 24px;
		height: 15px;
		background: url(img/burger.svg) no-repeat;
	}
	.burger::hover{
		cursor: pointer;
	}
	.main{
		width: 100%;
		position: relative;
	}
	.main__first-section{
		margin-bottom: 83px;
		color:#000;
	}
	.first-section__title{
		font:600 90px/110px Montserrat, arial, helvetica, sans-serif;
		text-align: center;
		margin: 0;
		display: flex;
		justify-content: center;
		height: 100px;
	}
	.first-section__subtitle{
		font: 500 15px/18px Montserrat, arial, helvetica, sans-serif;
		text-align: center;
		margin: 0;
		display: flex;
		justify-content: center;
	}
	.first-section__img{
		max-width: 1500px;
		min-height: 473px;
		min-width: 805px;
		background: url(img/tesla-and-logo.png) no-repeat center bottom;
		background-size: 100% auto;
		margin-bottom: 31px;
	}
	.first-section__info{
		position: relative;
		display: flex;
		justify-content: center;
	}
	.info__speed{
		margin-right: 76px;
	}
	.info__speed-container,
	.info__distance-container{
		display: inline-flex;
	}
	.info__speed-img{
		width: 54px;
		height: 49px;
		margin: 9px 9px 0 0;
	}
	.info__distance{
		margin-right: 136px;
	}
	.info__distance-img{
		margin: 7px 7px 0 0;
	}
	.info__speed__number,
	.info__distance__number{
		font:600 35px/43px Montserrat, arial, helvetica, sans-serif;
		margin: 0;
	}
	.info__speed__value,
	.info__distance__value{
		font:600 20px/24px Montserrat, arial, helvetica, sans-serif;
		padding-left: 6px;
	}
	.info__speed__add,
	.info__distance__add{
		font:400 12px/15px Montserrat, arial, helvetica, sans-serif;
		margin: 0px;
	}
	.test-drive,
	.first-section__info__button{
		font:700 13px/16px Montserrat, arial, helvetica, sans-serif;
		text-align: center;
		text-transform: uppercase;
	}
	.first-section__info__button{
		color: #e51937;
		height: 92%;
		padding: 11px 41px;
		margin-top: 9px;
		text-decoration: none;
		border:2px solid #e51937;
		background: #fff;
		transition: box-shadow .3s;
	}
	.first-section__info__button:hover,
	.sidebar__buttons__order:hover{
		box-shadow: 0 0 5px 1px #808080;
	}
	.first-section__info__test-drive{
		position: relative;
		padding-top: 9px;
		margin-right: 40px;
	}
	.first-section__info__test-drive::before{
		position: absolute;
		display: block;
		content: "";
		width: 22px;
		height: 22px;
		background: url(img/steering-wheel.svg) no-repeat;
		top: 19px;
		left: -30px;
	}
	.first-section__info::after{
		position: absolute;
		display: block;
		content: "";
		width: 33px;
		height: 21px;
		background: url(img/arrow.svg) no-repeat;
		bottom: -48px;
		left: 48%;
	}
	.main__second-section{
		position: relative;
		background: url(img/tesla-model.svg) no-repeat -8px 57px;
		display: flex;
	}
	.second-section__title{
		font:600 70px/85px Montserrat, arial, helvetica, sans-serif;
		color: #e51937;
		padding: 66px 0 0 73px;
		margin: 0;
		width: 76%;
	}
	.second-section__sidebar{
		background: #e51937;
		width: 440px;
		padding: 51px 29px 0 54px;
		box-sizing: border-box;
	}
	.second-section__sidebar__info{
		margin-bottom: 60px;
	}
	.second-section__sidebar__info__title,
	.third-section__sidebar__info__title{
		font: 600 30px/37px Montserrat, arial, helvetica, sans-serif;
		margin: 0 0 13px 0;
	}
	.second-section__sidebar__info__text{
		margin: 0;
		font: 500 15px/18px Montserrat, arial, helvetica, sans-serif;
	}
	.second-section__sidebar__points{
		box-sizing: border-box;
		padding-left: 55px;
	}
	.sidebar__points__first-point,
	.sidebar__points__second-point,
	.sidebar__points__third-point{
		position: relative;
		margin-bottom:46px;
		font: 500 15px/18px Montserrat, arial, helvetica, sans-serif;
	}
	.sidebar__points__first-point::before{
		position: absolute;
		content: "";
		display: block;
		width: 44px;
		height: 53px;
		background: url(img/screen.svg) no-repeat;
		top:11px;
		left: -54px;
	}
	.sidebar__points__second-point{
		margin-bottom: 26px;
	}
	.sidebar__points__second-point::before{
		position: absolute;
		content: "";
		display: block;
		width: 44px;
		height: 53px;
		background: url(img/wi-fi.svg) no-repeat;
		top:14px;
		left: -65px;
	}
	.sidebar__points__third-point{
		margin-bottom: 170px;
	}
	.sidebar__points__third-point::before{
		position: absolute;
		content: "";
		display: block;
		width: 44px;
		height: 53px;
		background: url(img/bag.svg) no-repeat;
		top:12px;
		left: -59px;
	}
	.sidebar__points__second-point__title{
		font: 600 20px/18px Montserrat, arial, helvetica, sans-serif;	
		margin-bottom: 2px;
	}
	.sidebar__points__first-point__number,
	.sidebar__points__third-point__number{
		font: 600 35px/41px Montserrat, arial, helvetica, sans-serif;
		margin: 0;
	}
	.sidebar__points__first-point__value,
	.sidebar__points__third-point__value{
		font: 600 20px/24px Montserrat, arial, helvetica, sans-serif;	
		margin-left: 10px;
	}
	.sidebar__points__third-point__value{
		margin-left: 1px;
	}
	.sidebar__points__first-point__add,
	.sidebar__points__second-point__add,
	.sidebar__points__third-point__add{
		margin: 0;
		font: 400 12px/15px Montserrat, arial, helvetica, sans-serif;	
	}
	.sidebar__buttons{
		padding-left: 28px;
		width: 312px;
		margin-bottom: 64px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.sidebar__buttons__more,
	.sidebar__buttons__order{
		font: 700 13px/16px Montserrat, arial, helvetica, sans-serif;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
	}
	.sidebar__buttons__more{
		position: relative;
		margin-right: 30px;
	}
	.sidebar__buttons__more:hover{
		color: #ffc0cb;
	}
	.sidebar__buttons__more::after{
		position: absolute;
		display: block;
		content: "";
		width: 22px;
		height: 22px;
		background: url(img/info.svg) no-repeat;
		top: -3px;
		left: -32px;
	}
	.sidebar__buttons__order{
		border: 2px solid #fff;
		padding:10px 40px;
	}
	.main__third-section{
		display: flex;
		width: 100%;
		position: relative;
	}
	.third-section__sidebar{
		width: 31%;
		background: #e51937;
	}
	.third-section__sidebar__info{
		width: 76%;
		margin: 0;
		padding: 49px 0 30px 56px;
	}
	.third-section__sidebar__info__title{
		margin: 0 0 13px 0;
	}
	.third-section__sidebar__info__text{
		font: 500 15px/18px Montserrat, arial, helvetica, sans-serif;
		margin: 0;
	}
	.sidebar__rating{
		margin: 0 49px 103px 56px;
		position: relative;
	}
	.sidebar__rating__title{
		font: 600 30px/35px Montserrat, arial, helvetica, sans-serif;
	}
	.sidebar__rating__point{
		font: 700 17px/20px Montserrat, arial, helvetica, sans-serif;
		text-transform: uppercase;
	}
	.sidebar__rating__point-add{
		font: 300 10px/12px Montserrat, arial, helvetica, sans-serif;
		margin-left: 4px;
	}
	.sidebar__rating__stars{
		position: absolute;
		width: 149px;
		height: 25px;
		top: 62px;
		left: 151px;
		line-height: 37px;
	}
	.sidebar__star{
		position: relative;
		margin-left: 150px;
		margin-bottom: 78px;
	}
	.sidebar__star::before{
		position: absolute;
		content: "";
		width: 62px;
		height: 74px;
		top: 9px;
		left: -85px;
		background: url(img/shield.svg) no-repeat;
	}
	.sidebar__star__title{
		margin: 0;
		font: 600 50px/61px Montserrat, arial, helvetica, sans-serif;
	}
	.sidebar__star__subtitle{
		margin: 0;
		font: 600 25px/15px Montserrat, arial, helvetica, sans-serif;
	}
	.third-section__sidebar__buttons{
		padding-left: 46px;
		padding-bottom: 72px;
	}
	.third-section__sidebar__buttons__more{
		padding-left: 15px;
		position: relative;
	}
	.third-section__sidebar__buttons__more::after{
		position: absolute;
		content: "";
		width: 22px;
		height: 22px;
		top: -4px;
		left: -15px;
		background: url(img/info.svg) no-repeat;
	}
	.third-section__left-block{
		position: relative;
		width: 70%;
		color: #000;
	}
	.third-section__left-block__img{
		position: absolute;
		top: 25%;
		right: 3%;
	}
	.third-section__left-block__title{
		margin: 95px 0 259px 11%;
	}
	.third-section__left-block__title__text{
		font: 600 200px/248px Montserrat, arial, helvetica, sans-serif;
		opacity: 0.1;
		color:#e51937;
		margin: 0;
	}
	.third-section__left-block__first-illustration{
		position: absolute;
		top: 23%;
		left: 17%;
		width: 160px;
	}
	.third-section__left-block__first-illustration::before{
		position: absolute;
		content: "";
		display: block;
		width: 14px;
		height: 281px;
		background: url(img/rectangle1.svg) no-repeat;
		top: 18px;
		left: -16%;
	}
	.illustration__text{
		font: 600 17px/15px Montserrat, arial, helvetica, sans-serif;
	}
	.third-section__left-block__second-illustration{
		position: absolute;
		top: 18%;
		left: 46%;
		width: 160px;
	}
	.third-section__left-block__second-illustration::after{
		position: absolute;
		content: "";
		display: block;
		width: 14px;
		height: 281px;
		background: url(img/rectangle2.svg) no-repeat;
		top: 18px;
		left: -16%;
	}
	.third-section__left-block__third-illustration{
		position: absolute;
		bottom: 22%;
		right: 25%;
		width: 228px;
	}
	.third-section__left-block__third-illustration::before{
		position: absolute;
		content: "";
		display: block;
		width: 14px;
		height: 281px;
		background: url(img/rectangle3.svg) no-repeat;
		top: -73px;
		left: -14px;
	}
	.left-block__copyright{
		margin-left: 88%;
		margin-top: 247px;
	}
	@media (max-width:768px){
	.header{
		position: relative;
		padding: 25px 0 0 15px;
		margin-bottom: 81px;
	}
	.nav__menu{
		position: absolute;
		top: 65px;
		width: 0%;
		height: 0px;
		overflow: hidden;
		flex-direction: column;
		background: white;
		z-index: 2;
		border-radius: 5%;
		transition: 2s;
	}
	.nav__menu_right,
	.nav__menu_middle{
		flex-direction: column;
		min-width: 15%;
		padding: 0;
	}
	.menu__item{
		font-size: 25px;
		line-height: 50px;
	}
	.burger{
		visibility: visible;
		position: absolute;
		right: 17px;
    	width: 35px;
    	height: 23px;
    	top: 38px;
    	background-size: cover;
    	cursor: pointer;
	}	
	#popup:checked ~ *.nav__menu{
		z-index: 2;
		width: 30%;
		height: 352px;
	}
	.main__first-section{
		margin-bottom: 48px;
	}
	.first-section__img{
		min-height: 453px;
		min-width: 375px;
		background: url(img/tesla-and-logo-for-ipad.png) no-repeat;
		background-position: 0 -24px;
		margin-bottom: 0;
	}
	.first-section__info{
		flex-wrap: wrap;
		min-height: 228px;
	}
	.first-section__info::after{
		bottom: -44px;
		left: 49%;
	}
    .info__speed-container{
    	padding-left: 42px;
    }
	.info__speed{
		margin-right: 76px;
	}
	.info__distance{
		margin: 0;
	}
	.info__speed__number,
	.info__distance__number{
		font: 600 50px/61px Montserrat, arial, helvetica, sans-serif;
	}
	.info__speed-img{
		content: "";
		margin: 15px 9px 0 0;
		width: 84px;
		height: 64px;
	}
	.info__speed__value{
		padding-left: 15px;
	}
	.info__distance-img{
		padding-top: 5px;
		height: 81px;
	}
	.info__distance{
		margin-right: 45px;
	}
	.info__distance__add{
		font: 400 12px/11px Montserrat, arial, helvetica, sans-serif;
	}
	.info__distance__value{
		padding-left: 12px;
	}
	.first-section__info__test-drive{
		padding: 16px 0 0 69px;
	}
	.first-section__info__test-drive::before{
		display: none;
	}
	.first-section__info__test-drive::after{
		position: absolute;
		display: block;
		content: "";
		width: 32px;
		height: 32px;
		background: url(img/red-steering-wheel.svg) no-repeat;
		top: 21%;
		left: 11%;
	}
	.test-drive{
		font-size: 16px;
		color: #e51937;
		margin: 11px 0;
	}
	.first-section__info__button{
		padding: 18px 60px;
		font-size: 17px;
		background: #e51937;
		color: #fff;
		margin-top: 6px;
	}
	.main__second-section{
		display: block;
		background: url(img/tesla-for-ipad.png) no-repeat 0px 56px;
	}
	.second-section__title{
		padding: 66px 29px 0 0;
		text-align: right;
		box-sizing: border-box;
		margin-bottom: 407px;
		width: 100%;
	}
	.second-section__sidebar{
		padding: 50px 0 0 37px;
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}
	.second-section__sidebar__info{
		margin:0 103px 0 0;
		width: 45%;
	}
	.second-section__sidebar__info__title{
		margin-bottom: 24px;
	}
	.second-section__sidebar__points{
		padding-top: 5px;
		width: 33%;
	}
	.sidebar__points__first-point{
		margin-bottom: 33px;
	}
	.sidebar__points__second-point{
		margin-bottom: 22px;
	}
	.sidebar__points__third-point{
		margin-bottom: 73px;
	}
	.sidebar__buttons{
		padding-left: 152px;
		margin-bottom: 55px;
		width: 60%;
	}
	.sidebar__buttons__more{
		font-size: 16px;
		margin-right: 43px;
	}
	.sidebar__buttons__more::after{
		width: 31px;
		height: 31px;
		top: -7px;
		left: -41px;
		background-size: cover;
	}
	.sidebar__buttons__order{
		font-size: 16px;
		padding: 16px 57px 13px 63px;
		border: 3px solid;
	}
	.main__third-section{
		flex-direction: column-reverse;
	}
	.third-section__left-block{
		width: 100%;
	}
	.third-section__left-block__title{
		margin: 4px 0 286px 83px;
	}
	.third-section__left-block__title__text{
		font-size: 148px;
	}
	.third-section__left-block__img{
		width: 747px;
		top: 115px;
		left: -15px;
	}
	.third-section__left-block__first-illustration{
		top: 99px;
		width: 130px;
		left: 26%;
	}
	.third-section__left-block__first-illustration::before{
		height: 201px;
		top: 15px;
		background-size: contain;
	}
	.third-section__left-block__second-illustration{
		width: 130px;
		top: 66px;
		left: 386px;
	}
	.third-section__left-block__second-illustration::after{
		top: 18px;
		left: -16px;
		height: 91px;
		background-size: contain;
	}
	.third-section__left-block__third-illustration{
		width: 185px;
		right: 130px;
		bottom: 61px;
	}
	.third-section__left-block__third-illustration::before{
		top: -35px;
		left: -26px;
		height: 86px;
	}
	.illustration__text{
		font-size: 15px;
		line-height: 13px;
	}
	.third-section__sidebar{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	.third-section__sidebar__info{
		margin-bottom: 113px;
		padding: 62px 72px 0 35px;
		width: 42%;
	}
	.third-section__left-block__copyright{
		display: none;
	}
	.sidebar__rating{
		margin: 0;
		padding-top: 33px;
		width: 40%;
	}
	.sidebar__rating__stars{
		top: 124px;
	}
	.sidebar__star{
		display: none;
	}
	.third-section__sidebar__buttons{
		padding-left: 182px;
		padding-bottom: 81px;
	}
	.third-section__sidebar__buttons__order{
		padding: 15px 55px 14px 63px;
	}
	.third-section__sidebar__buttons__more::after{
		top: -5px;
		left: -28px;
	}
}
	@media (max-width:375px){
	.header{
		padding: 7px 3px 0px 1px;
		margin: 0 0 22px 0;
	}
	.header__logo{
		margin: 0;
		background-size: contain;
		width: 140px;
	}
	.nav__menu{
		width: 38%;
	}
	.nav__menu_right{
		min-width: 55px;
	}
	.burger{
		width: 24px;
		height: 22px;
		background-size: contain;
		right: 5px;
		top: 18px;
	}
	#popup:checked ~ *.nav__menu{
		z-index: 2;
		width: 45%;
		height: 352px;
	}
	.first-section__header{
		margin-bottom: 44px;
	}
	.first-section__title{
		width: 95%;
   		font-size: 50px;
		line-height: 60px;
   		margin-left: 17px;
   		height: 56px;
	}
	.first-section__subtitle{
		width: 95%;
		margin-left: 5%;
		font-size: 10px;
	}
	.first-section__img{
		min-width: 356px;
   		min-height:193px;
   		background: url(img/tesla-wordmark-for-mobile.png) no-repeat,
   		url(img/red-tesla-for-mobile.png) no-repeat;
   		background-position: 0 -41px,
   		9px 0;
	}
	.first-section__info{
		min-height: 164px;
		width: 100%;
		box-sizing: border-box;
	}
	.first-section__info::after{
		bottom: -15px;
		left: 48%;
	}
	.info__speed-img{
		width: 45px;
		margin: 0;
		height: 37px;
		padding: 7px 10px 0 4px;
	}
	.info__distance-img{
		width: 33px;
		height: 50px;
		padding: 0;
		margin:0 8px 0 0;
	}
	.info__speed-container{
		padding-left: 0;
	}
	.info__speed{
		margin-right: 39px;
	}
	.info__distance{
		margin: 0;
	}
	.info__speed__number,
	.info__distance__number{
		font-size: 27px;
		line-height: 33px;
	}
	.info__speed__value,
	.info__distance__value{
		font-size: 15px;
		line-height: 18px;
	}
	.info__distance__value{
		padding-left: 7px
	}
	.info__speed__add,
	.info__distance__add{
		font-size: 10px;
	}
	.first-section__info__test-drive{
		padding: 0;
		margin-left: 20px;
		font-size: 13px;
	}
	.first-section__info__test-drive::after{
		width: 24px;
		height: 24px;
		top: 17px;
		left: -4px;
		background-size: cover;
	}
	.test-drive{
		margin: 21px -15px 21px 26px;
		font-size: 13px;
	}
	.first-section__info__button{
		font-size: 13px;
		padding: 10px 41px;
	}
	.second-section__title,
	.second-section__sidebar__points,
	.sidebar__buttons,
	.sidebar__rating,
	.third-section__sidebar__buttons{
		display: none;
	}
	.main__second-section{
		background-size: 499px auto;
		padding-top: 288px;
		background-position: -53px -31px;
	}
	.second-section__sidebar{
		padding:19px 0 40px 27px;
	}
	.second-section__sidebar__info{
		width: 100%;
		margin: 0;
	}
	.second-section__sidebar__info__title{
		margin-bottom: 10px;
	}
	.third-section__left-block__img{
		top: 75px;
		width: 373px;
	}
	.third-section__left-block__title{
		padding: 26px 0 147px;
		margin: 0;
	}
	.third-section__left-block__title__text{
		font-size: 100px;
		line-height: 121px;
		letter-spacing: -8px;
	}
	.illustration__text{
		font-size: 7px;
		line-height: 7px;
	}
	.third-section__left-block__first-illustration{
		top: 68px;
		width: 56px;
		left: 98px;
	}
	.third-section__left-block__first-illustration::before{
		left:-19px;
		height: 102px;
		top: 5px;
	}
	.third-section__left-block__second-illustration{
		width: 61px;
		left: 191px;
		top: 51px;
	}
	.third-section__left-block__second-illustration::after{
		width: 6px;
		height: 58px;
		top: 7px;
		left: -13px;
	}
	.third-section__left-block__third-illustration{
		width: 85px;
		right: 61px;
		bottom: 35px;
	}
	.third-section__left-block__third-illustration::before{
		width: 6px;
		top: -19px;
		left: -14px;
		height: 47px;
		background-size: contain;
	}
	.third-section__sidebar__info{
		width: 100%;
		margin: 0;
		padding: 18px 0 72px 31px;
	}
}